{% extends 'base.html.twig' %}

{% block title %}Articles index{% endblock %}

{% block body %}
<div class="card">
    <h5 class="card-header">Liste des clients <a href="{{ path('app_articles_new') }}" class="btn btn-info mx-3">Nouvel article</a></h5>
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered" id="myTable">
                <thead>
                <tr>
                <th>Numero</th>
                <th>Designation</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.numero }}</td>
                <td>{{ article.designation }}</td>
                <td>{{ article.prix }} FCFA</td>
                <td>
                    <a href="{{ path('app_articles_show', {'id': article.id}) }}" class="btn btn-primary btn-sm"><i class="bx bx-show"></i></a>
                    <a href="{{ path('app_articles_edit', {'id': article.id}) }}" class="btn btn-info btn-sm"><i class="bx bx-edit"></i></a>
                    {{ include('articles/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_articles_new') }}">Create new</a>
{% endblock %}
