{% extends 'base.html.twig' %}

{% block title %}Users Index{% endblock %}

{% block body %}
    <div class="card">
        <!-- Display flash messages -->
        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success">
                {% for message in app.session.flashBag.get('success') %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}

        {% if app.session.flashBag.has('error') %}
            <div class="alert alert-danger">
                {% for message in app.session.flashBag.get('error') %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}

        <h5 class="card-header">
            Liste des utilisateurs 
            <a href="{{ path('app_users_new') }}" class="btn btn-info mx-3">Nouvel utilisateur</a>
        </h5>

        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <table class="table table-bordered" id="myTable">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Email</th>
                            <th>Téléphone</th>
                            <th>Adresse</th>
                            <th>État</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.nom }}</td>
                                <td>{{ user.prenom }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.telephone }}</td>
                                <td>{{ user.adresse }}</td>
                                <td>
                                    <form action="{{ path('app_users_state', { 'id': user.id }) }}" method="POST">
                                        <input type="hidden" name="_token" value="{{ csrf_token('toggle_user') }}">
                                        {% if user.state == false %}
                                            <button class="btn" type="submit" onclick="return confirm('Voulez-vous activer l\'utilisateur ?');">
                                                <span class="badge bg-label-danger me-1">Désactivé</span>
                                            </button>
                                        {% else %}
                                            <button class="btn" type="submit" onclick="return confirm('Voulez-vous désactiver l\'utilisateur ?');">
                                                <span class="badge bg-label-success me-1">Activé</span>
                                            </button>
                                        {% endif %}
                                    </form>
                                </td>
                                <td>
                                    <a href="{{ path('app_users_show', {'id': user.id}) }}" class="btn btn-primary btn-sm">
                                        <i class="bx bx-show"></i>
                                    </a>
                                    <a href="{{ path('app_users_edit', {'id': user.id}) }}" class="btn btn-info btn-sm">
                                        <i class="bx bx-edit"></i>
                                    </a>
                                    {{ include('user/_delete_form.html.twig') }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7">Aucun enregistrement trouvé</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
