{% extends 'base.html.twig' %}

{% block title %}user{% endblock %}

{% block body %}
<center>
    <div class="col-lg-6">
        <small class="text-light fw-semibold">Informations</small>
        <div class="demo-inline-spacing mt-3">
            <ul class="list-group">
                <li class="list-group-item d-flex align-items-center">

                       <strong class="mx-3"><i class="bx bx-id-card me-2"></i> Image: </strong> <img src="" alt="">
                </li>
                <li class="list-group-item d-flex align-items-center">

                       <strong class="mx-3"><i class="bx bx-id-card me-2"></i> Nom: </strong> {{ user.nom}}
                </li>
                <li class="list-group-item d-flex align-items-center">

                       <strong class="mx-3"><i class="bx bx-id-card me-2"></i> Prénom: </strong> {{ user.prenom}}
                </li>
                <li class="list-group-item d-flex align-items-center">

                       <strong class="mx-3"><i class="bx bx-id-card me-2"></i> Adresse: </strong> {{ user.adresse}}
                </li>
                <li class="list-group-item d-flex align-items-center">

                    <strong class="mx-3"><i class="bx bx-pencil me-2"></i> Téléphone: </strong> {{ user.telephone}}
                </li>
                <li class="list-group-item d-flex align-items-center">

                    <strong class="mx-3"><i class="bx bx-align-left me-2"></i> Email : </strong> {{ user.email}}
                </li>

{#                <li class="list-group-item d-flex align-items-center">#}

{#                <strong class="mx-3"> <i class="bx bx-calendar me-2"></i> Date de création: </strong>#}
{#                {{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}#}
{#                </li>#}
{#                <li class="list-group-item d-flex align-items-center">#}

{#                <strong class="mx-3"><i class="bx bx-calendar-edit me-2"></i> Date de modification:</strong>#}
{#                {{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}#}
            </ul>
        </div>
    </div>

</center>
{% endblock %}
